<footer class="admin-footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="footer-copyright">
                    &copy; {% now "Y" %} <strong>EligoDB</strong>. All rights reserved.
                    <span class="version">v1.0.0</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-links">
                    <a href="#" data-bs-toggle="tooltip" title="Documentation">
                        <i class="bi bi-file-earmark-text"></i>
                    </a>
                    <a href="#" data-bs-toggle="tooltip" title="Support">
                        <i class="bi bi-headset"></i>
                    </a>
                    <a href="#" data-bs-toggle="tooltip" title="Settings">
                        <i class="bi bi-gear"></i>
                    </a>
                    <a href="https://github.com/your-repo" target="_blank" data-bs-toggle="tooltip" title="GitHub Repository">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>