<div class="submenu-container">
  <ul id="employee-submenu" class="submenu ">
  <li onclick="showContent('employee-applied')">Applied</li>
  <li onclick="showContent('employee-selected')">Selected</li>
  <li onclick="showContent('employee-active')">Active</li>
  <li onclick="showContent('employee-inactive')">Inactive</li>
</ul>

<ul id="student-submenu" class="submenu hidden">
  <li onclick="showContent('student-registered')">Registered</li>
  <li onclick="showContent('student-not-registered')">Not Registered</li>
  <li onclick="showContent('student-completed')">Completed</li>
</ul>

<ul id="lead-submenu" class="submenu hidden">
  <li onclick="showContent('lead-new')">New</li>
  <li onclick="showContent('lead-interested')">Interested</li>
  <li onclick="showContent('lead-not-interested')">Not Interested</li>
</ul>
</div>
